
@import url(http://allfont.ru/allfont.css?fonts=roboto-thin);
@import url(http://allfont.ru/allfont.css?fonts=roboto-black);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$ff: 'Roboto', sans-serif;
$light-text-color: #969693;
$darck-text-color: #3f3f3e;

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s linear 0s;
}

img {
  border: none; }

html {
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.product {
  width: 75%;
  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}
.menu {
  width: 25%;
  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.collection-name {
  font-family: $ff;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 40px;
}
.collection {
  font-family: $ff;
  font-size: 14px;
  text-transform: uppercase;

}

.img-auhtor {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-box {
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
  text-align: left;
  @media only screen and (max-width: 768px) {
    max-width: 160px;
  }
  @media only screen and (max-width: 480px) {
    margin-bottom: 50px;
  }
}
.name {
  text-align: center;
  font-family: 'Roboto Black', arial;
  font-size: 16px;
  color: #acada7;
  margin-top: 15px;
  margin-bottom: 40px;
}
.comment {
  font-family: 'Roboto Thin', arial;
  font-size: 56px;
  color: $darck-text-color;
  @media only screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.price {
  font-size: 33px;
  margin-bottom: 40px;
  p:after {
    content: "$";
    position: absolute;
    margin-left: 5px;
  }
}
.add-to-favs {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  &:before {
    content: url("../images/heart.png");
    position: absolute;
    top: 1px;
    left: 0;
  }
  &:hover {
    p:before {
      content: url("../images/red-heart.png");
      position: absolute;
      top: 1px;
      left: 0;
    }
  }
}

.favs {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px;
  &:before {
    content: url("../images/red-heart.png");
    position: absolute;
    left: 0;
    top: 1px;
  }
}


header {
  position: relative;
  overflow: hidden;
  .logo {
    position: absolute;
    z-index: 5;
    top: 22px;
    left: 22px
  }
  .product {
    background-color: #e9eae2;
    float: left;
    height: 668px;
    @media only screen and (max-width: 480px) {
      float: none;
      height: auto;
    }
  }
  .menu {
    float: right;
    background: url("../images/menu-img-bg.png") center/cover;
    min-height: 668px;
    position: relative;
    @media only screen and (max-width: 480px) {
      height: auto;
      float: none;
    }
    .nav {
      position: absolute;
      height: 668px;
      top:0;
      background: #172239;
      opacity: 0.8;
      .nav__trigger {
        top: 25px;
        .bars {
          background-color: #3ab3a6;
          height: 2px;
          &:before, &:after {
            background-color: #3ab3a6;
            height: 2px;
          }
        }
      }
      .nav__content {
        padding: 0;
        position: relative;
        margin-top: -30px;
        .help-elements {
          position: absolute;
          left: -72px;
          top: -25px;
          @media only screen and (max-width: 480px) {
            left: 50%;
            margin-left: -108px;
            top: 96%;
          }
          .icon-box {
            width: 72px;
            height: 62px;
            text-align: center;
            padding-top: 18px;
            box-sizing: border-box;
            @media only screen and (max-width: 480px) {
              float: left;
            }
            &:hover {
              background-color: #86d8cd;
            }
          }
        }
        .warehouse {
          color: #979797;
          font-family: $ff;
          text-transform: uppercase;
          font-weight: bold;
          margin: 40px;
          box-sizing: border-box;
        }
        .link-box {
          width: 50%;
          float: left;
          margin-bottom: 50px;
          text-align: center;
          img {
            height: 34px;
            width: auto;
          }
          a {
            margin-top: 22px;
            display: block;
            font-family: 'Roboto Black', arial;
            color: #3ab3a6;
            font-size: 16px;
            text-transform: uppercase;
            @media only screen and (max-width: 768px) {
              font-size: 12px;
            }
          }
        }

      }
    }

  }
  .triangular-menu {
    position: relative;
    z-index: 3;
    margin-left: 16%;
    background: url("../images/bg-triangle.png") center/cover;
    width: 342px;
    height: 283px;
    @media only screen and (max-width: 480px) {
      margin: 0 auto;
    }
    @media only screen and (max-width: 360px) {
      width: 100%;
    }
    #container {
      position: absolute;
      top: 85px;
      left: 50%;
      margin-left: -27px;
      height: 57px;
      width: 54px;
      overflow: hidden;
      img{
        position: absolute;
        top: 0;
        height: 57px;
        width: 54px;
        cursor: pointer;
        overflow: hidden;
      }
    }
    #carouselLeft {
      position: absolute;
      top: 110px;
      left: 50%;
      margin-left: -41px;
      cursor: pointer;
    }
    #carouselRight {
      position: absolute;
      top: 110px;
      right: 50%;
      margin-right: -41px;
      cursor: pointer;
    }
  }
  .product-half {
    width: 50%;
    float: left;
    margin-top: -100px;
    box-sizing: content-box;
    @media only screen and (max-width: 1024px) {
      margin-top: 0;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 50px;
    }
    @media only screen and (max-width: 480px) {
      float: none;
      width: 100%;
      margin: 0 auto;
    }
    .product-price {
      width: 50%;
      float: left;
      padding-left: 45px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      @media only screen and (max-width: 480px) {
        margin: 0 auto;
        margin-top: 10px;
        float: none;
      }
      p {
        font-family: 'Roboto Thin', arial;
        color: $light-text-color;
      }
      .product-name {
        margin-top: 20px;
        font-size: 26px;
        margin-bottom: 20px;
      }
      .price {
        font-family: 'Roboto Thin', arial;
        color: $light-text-color;
        font-size: 33px;
        margin-bottom: 40px;
        p:after {
          content: "$";
          margin-left: 10px;
        }
      }
    }
    .product-photo {
      width: 50%;
      float: left;
      position: relative;
      z-index: 2;
      @media only screen and (max-width: 480px) {
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        margin-left: -25%;
        @media only screen and (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }
  .reviews {
    width: 50%;
    float: left;
    margin-top: -12%;
    box-sizing: border-box;
    @media only screen and (max-width: 480px) {
      float: none;
      width: 100%;
      margin: 0 auto;
    }
    .reviews-box {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      text-align: center;
      @media only screen and (max-width: 768px) {
        max-width: 250px;
      }
      @media only screen and (max-width: 480px) {
        margin-bottom: 50px;
      }
    }
  }
}
.seven-pots {
  .menu {
    float: left;
    position: relative;
    background-color: #7dd5c9;
    height: 375px;
    padding-top: 120px;
    padding-bottom: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #266258;
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(45deg, #7dd5c9 10px, transparent 0) 0 10px,
                  linear-gradient(135deg, #7dd5c9 10px, transparent 0) 0 10px;
      background-position: right top;
      background-repeat: repeat-y;
      background-size: 20px 20px;
      width: 20px;
      height: 100%;
      top: 0;
      right: -20px;
    }
    @media only screen and (max-width: 480px) {
     &:after {
       content: '';
       position: absolute;
       background: linear-gradient(135deg, #7dd5c9 10px, transparent 0) 0 10px,
                   linear-gradient(225deg, #7dd5c9 10px, transparent 0) 0 10px;
       background-position: left bottom;
       background-repeat: repeat-x;
       background-size: 20px 20px;
       width: 100%;
       height: 395px;
       left:0;
     }
    }
  }
  .product {
    float: right;
    background-color: #f5f5f5;
    height: 375px;
    overflow: hidden;
    @media only screen and (max-width: 480px) {height: auto}
    .product-price {
      width: 33%;
      float: left;
      padding-left: 55px;
      box-sizing: border-box;
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      p {
        width: 100%;
        max-width: 233px;
        font-family: $ff;
        font-weight: lighter;
        color: #bdbdbd;
      }
      .product-name {
        margin-top: 45px;
        font-size: 26px;
        margin-bottom: 20px;
      }
      .price {
        font-size: 33px;
        margin-bottom: 40px;
        p:after {
          content: "$";
          position: absolute;
          margin-left: 5px;
        }
      }
    }
    .product-photo {
      width: 33%;
      float: left;
      position: relative;
      height: 375px;
      .img-box {
        width: 100%;
        position: absolute;
        bottom: 0;
        img {
          display: block;
          margin: 0 auto;
          margin-bottom: -5px;
          width: 100%;
          max-width: 335px;
        }
      }
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
    }
    .reviews {
      width: 33%;
      float: left;
      text-align: center;
      padding-top: 70px;
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      .comment {
        text-align: left;
      }
    }
  }
}
.rooms {
  background: url("../images/rooms-bg.png") center/cover;
  padding: 80px 0;
  .circle {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-left: 30%;
    text-align: center;
    padding-top: 53px;
    box-sizing: border-box;
    @media only screen and (max-width: 480px) {
      margin: 0 auto;
    }
    p {
      margin-top: 20px;
      font-family: $ff;
      font-weight: lighter;
      font-size: 16px;
      color: #939393;
      text-transform: uppercase;
    }
  }
}
.shakers {
  .menu {
    position: relative;
    background-color: #bfe79e;
    float: right;
    height: 375px;
    padding-top: 120px;
    padding-bottom: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #7c9965;
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(-45deg, #bfe79e 10px, transparent 0) 0 10px,
                  linear-gradient(-135deg, #bfe79e 10px, transparent 0) 0 10px;
      background-position: left top;
      background-repeat: repeat-y;
      background-size: 20px 20px;
      width: 20px;
      height: 100%;
      top: 0;
      left: -20px;
    }
    @media only screen and (max-width: 480px) {
      &:after {
        content: '';
        position: absolute;
        background: linear-gradient(135deg, #bfe79e 10px, transparent 0) 0 10px,
        linear-gradient(225deg, #bfe79e 10px, transparent 0) 0 10px;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 20px 20px;
        width: 100%;
        height: 395px;
        left:0;
      }
    }
  }
  .product {
    float: left;
    background-color: #f5f5f5;
    height: 375px;
    @media only screen and (max-width: 480px) {height: auto}
    .product-price {
      width: 33%;
      float: left;
      padding-left: 55px;
      box-sizing: border-box;
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      p {
        width: 100%;
        max-width: 233px;
        font-family: $ff;
        font-weight: lighter;
        color: #bdbdbd;
      }
      .product-name {
        margin-top: 45px;
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
    .product-photo {
      width: 33%;
      float: left;
      text-align: center;
      height: 375px;
      position: relative;
      .img-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        img {
          width: 100%;
          max-width: 285px;
          display: block;
          margin: 0 auto;
        }

      }
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
    }
    .reviews {
      width: 33%;
      float: left;
      text-align: center;
      padding-top: 70px;
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      .comment {
        text-align: left;
      }
    }

  }
}
.authentics {
  .menu {
    float: left;
    position: relative;
    background-color: #f8c255;
    height: 375px;
    padding-top: 120px;
    padding-bottom: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #785e28;
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(45deg, #f8c255 10px, transparent 0) 0 10px,
                  linear-gradient(135deg, #f8c255 10px, transparent 0) 0 10px;
      background-position: right top;
      background-repeat: repeat-y;
      background-size: 20px 20px;
      width: 20px;
      height: 100%;
      top: 0;
      right: -20px;
    }
    @media only screen and (max-width: 480px) {
      &:after {
        content: '';
        position: absolute;
        background: linear-gradient(135deg, #f8c255 10px, transparent 0) 0 10px,
        linear-gradient(225deg, #f8c255 10px, transparent 0) 0 10px;
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 20px 20px;
        width: 100%;
        height: 395px;
        left:0;
      }
    }
  }
  .product {
    float: right;
    height: 375px;
    overflow: hidden;
    background-color: #fff;
    @media only screen and (max-width: 480px) {
      height: auto;
    }
    .product-price {
      width: 26%;
      float: left;
      padding-left: 55px;
      box-sizing: border-box;
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      p {
        width: 100%;
        max-width: 233px;
        font-family: $ff;
        font-weight: lighter;
        color: #bdbdbd;
      }
      .product-name {
        margin-top: 45px;
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
    .product-photo {
      position: relative;
      width: 40%;
      float: left;
      text-align: center;
      height: 375px;
      .img-box {
        position: absolute;
        bottom: 0;
      }
      img {
        margin-bottom: -5px;
        width: 100%;
        max-width: 435px;
      }
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
    }
    .reviews {
      width: 33%;
      float: left;
      text-align: center;
      padding-top: 70px;
      @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
      .comment {
        text-align: left;
      }
    }
  }
}
footer {
  background: url("../images/footer-bg.png")center/cover;
  padding-top: 80px;
  padding-bottom: 80px;
  p {
    font-family: $ff;
    font-weight: lighter;
  }
  .left-icon {
    margin-top: 40px;
    float: left;
    margin-left: 50px;
    max-width: 640px;
    @media only screen and (max-width: 780px) {
      width: 100%;
      float: none;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;

    }
    img {
      margin-right: 45px;
      margin-bottom: 45px;
      @media only screen and (max-width: 780px) {
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    p {
      font-size: 16px;
      color: #7c7a7a;
    }

  }
  .right-icon {
    float: right;
    margin-right: 120px;
    @media only screen and (max-width: 780px) {
      width: 100%;
      float: none;
      margin: 0 auto;
      text-align: center;
    }
    img {
      margin-bottom: 17px;
    }
    p {
      font-size: 30px;
      color: #a7a2a2;
      margin-left: 20px;
    }

  }
}