@import url(http://allfont.ru/allfont.css?fonts=roboto-thin);
@import url(http://allfont.ru/allfont.css?fonts=roboto-black);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s linear 0s; }

img {
  border: none; }

html {
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.product {
  width: 75%; }
  @media only screen and (max-width: 480px) {
    .product {
      width: 100%; } }

.menu {
  width: 25%; }
  @media only screen and (max-width: 480px) {
    .menu {
      width: 100%; } }

.collection-name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 40px; }

.collection {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase; }

.img-auhtor {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden; }

.reviews-box {
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
  text-align: left; }
  @media only screen and (max-width: 768px) {
    .reviews-box {
      max-width: 160px; } }
  @media only screen and (max-width: 480px) {
    .reviews-box {
      margin-bottom: 50px; } }

.name {
  text-align: center;
  font-family: 'Roboto Black', arial;
  font-size: 16px;
  color: #acada7;
  margin-top: 15px;
  margin-bottom: 40px; }

.comment {
  font-family: 'Roboto Thin', arial;
  font-size: 56px;
  color: #3f3f3e; }
  @media only screen and (max-width: 768px) {
    .comment {
      font-size: 40px; } }

.price {
  font-size: 33px;
  margin-bottom: 40px; }
  .price p:after {
    content: "$";
    position: absolute;
    margin-left: 5px; }

.add-to-favs {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px; }
  .add-to-favs:before {
    content: url("../images/heart.png");
    position: absolute;
    top: 1px;
    left: 0; }
  .add-to-favs:hover p:before {
    content: url("../images/red-heart.png");
    position: absolute;
    top: 1px;
    left: 0; }

.favs {
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 20px; }
  .favs:before {
    content: url("../images/red-heart.png");
    position: absolute;
    left: 0;
    top: 1px; }

header {
  position: relative;
  overflow: hidden; }
  header .logo {
    position: absolute;
    z-index: 5;
    top: 22px;
    left: 22px; }
  header .product {
    background-color: #e9eae2;
    float: left;
    height: 668px; }
    @media only screen and (max-width: 480px) {
      header .product {
        float: none;
        height: auto; } }
  header .menu {
    float: right;
    background: url("../images/menu-img-bg.png") center/cover;
    min-height: 668px;
    position: relative; }
    @media only screen and (max-width: 480px) {
      header .menu {
        height: auto;
        float: none; } }
    header .menu .nav {
      position: absolute;
      height: 668px;
      top: 0;
      background: #172239;
      opacity: 0.8; }
      header .menu .nav .nav__trigger {
        top: 25px; }
        header .menu .nav .nav__trigger .bars {
          background-color: #3ab3a6;
          height: 2px; }
          header .menu .nav .nav__trigger .bars:before, header .menu .nav .nav__trigger .bars:after {
            background-color: #3ab3a6;
            height: 2px; }
      header .menu .nav .nav__content {
        padding: 0;
        position: relative;
        margin-top: -30px; }
        header .menu .nav .nav__content .help-elements {
          position: absolute;
          left: -72px;
          top: -25px; }
          @media only screen and (max-width: 480px) {
            header .menu .nav .nav__content .help-elements {
              left: 50%;
              margin-left: -108px;
              top: 96%; } }
          header .menu .nav .nav__content .help-elements .icon-box {
            width: 72px;
            height: 62px;
            text-align: center;
            padding-top: 18px;
            box-sizing: border-box; }
            @media only screen and (max-width: 480px) {
              header .menu .nav .nav__content .help-elements .icon-box {
                float: left; } }
            header .menu .nav .nav__content .help-elements .icon-box:hover {
              background-color: #86d8cd; }
        header .menu .nav .nav__content .warehouse {
          color: #979797;
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          margin: 40px;
          box-sizing: border-box; }
        header .menu .nav .nav__content .link-box {
          width: 50%;
          float: left;
          margin-bottom: 50px;
          text-align: center; }
          header .menu .nav .nav__content .link-box img {
            height: 34px;
            width: auto; }
          header .menu .nav .nav__content .link-box a {
            margin-top: 22px;
            display: block;
            font-family: 'Roboto Black', arial;
            color: #3ab3a6;
            font-size: 16px;
            text-transform: uppercase; }
            @media only screen and (max-width: 768px) {
              header .menu .nav .nav__content .link-box a {
                font-size: 12px; } }
  header .triangular-menu {
    position: relative;
    z-index: 3;
    margin-left: 16%;
    background: url("../images/bg-triangle.png") center/cover;
    width: 342px;
    height: 283px; }
    @media only screen and (max-width: 480px) {
      header .triangular-menu {
        margin: 0 auto; } }
    @media only screen and (max-width: 360px) {
      header .triangular-menu {
        width: 100%; } }
    header .triangular-menu #container {
      position: absolute;
      top: 85px;
      left: 50%;
      margin-left: -27px;
      height: 57px;
      width: 54px;
      overflow: hidden; }
      header .triangular-menu #container img {
        position: absolute;
        top: 0;
        height: 57px;
        width: 54px;
        cursor: pointer;
        overflow: hidden; }
    header .triangular-menu #carouselLeft {
      position: absolute;
      top: 110px;
      left: 50%;
      margin-left: -41px;
      cursor: pointer; }
    header .triangular-menu #carouselRight {
      position: absolute;
      top: 110px;
      right: 50%;
      margin-right: -41px;
      cursor: pointer; }
  header .product-half {
    width: 50%;
    float: left;
    margin-top: -100px;
    box-sizing: content-box; }
    @media only screen and (max-width: 1024px) {
      header .product-half {
        margin-top: 0; } }
    @media only screen and (max-width: 768px) {
      header .product-half {
        margin-top: 50px; } }
    @media only screen and (max-width: 480px) {
      header .product-half {
        float: none;
        width: 100%;
        margin: 0 auto; } }
    header .product-half .product-price {
      width: 50%;
      float: left;
      padding-left: 45px;
      box-sizing: border-box;
      position: relative;
      z-index: 3; }
      @media only screen and (max-width: 480px) {
        header .product-half .product-price {
          margin: 0 auto;
          margin-top: 10px;
          float: none; } }
      header .product-half .product-price p {
        font-family: 'Roboto Thin', arial;
        color: #969693; }
      header .product-half .product-price .product-name {
        margin-top: 20px;
        font-size: 26px;
        margin-bottom: 20px; }
      header .product-half .product-price .price {
        font-family: 'Roboto Thin', arial;
        color: #969693;
        font-size: 33px;
        margin-bottom: 40px; }
        header .product-half .product-price .price p:after {
          content: "$";
          margin-left: 10px; }
    header .product-half .product-photo {
      width: 50%;
      float: left;
      position: relative;
      z-index: 2; }
      @media only screen and (max-width: 480px) {
        header .product-half .product-photo {
          margin: 0 auto;
          float: none;
          margin-bottom: 20px; } }
      header .product-half .product-photo img {
        width: 100%;
        margin-left: -25%; }
        @media only screen and (max-width: 768px) {
          header .product-half .product-photo img {
            margin-left: 0; } }
  header .reviews {
    width: 50%;
    float: left;
    margin-top: -12%;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      header .reviews {
        float: none;
        width: 100%;
        margin: 0 auto; } }
    header .reviews .reviews-box {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      text-align: center; }
      @media only screen and (max-width: 768px) {
        header .reviews .reviews-box {
          max-width: 250px; } }
      @media only screen and (max-width: 480px) {
        header .reviews .reviews-box {
          margin-bottom: 50px; } }

.seven-pots .menu {
  float: left;
  position: relative;
  background-color: #7dd5c9;
  height: 375px;
  padding-top: 120px;
  padding-bottom: 100px;
  box-sizing: border-box;
  text-align: center;
  color: #266258; }
  .seven-pots .menu:after {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #7dd5c9 10px, transparent 0) 0 10px, linear-gradient(135deg, #7dd5c9 10px, transparent 0) 0 10px;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 20px 20px;
    width: 20px;
    height: 100%;
    top: 0;
    right: -20px; }
  @media only screen and (max-width: 480px) {
    .seven-pots .menu:after {
      content: '';
      position: absolute;
      background: linear-gradient(135deg, #7dd5c9 10px, transparent 0) 0 10px, linear-gradient(225deg, #7dd5c9 10px, transparent 0) 0 10px;
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 20px 20px;
      width: 100%;
      height: 395px;
      left: 0; } }
.seven-pots .product {
  float: right;
  background-color: #f5f5f5;
  height: 375px;
  overflow: hidden; }
  @media only screen and (max-width: 480px) {
    .seven-pots .product {
      height: auto; } }
  .seven-pots .product .product-price {
    width: 33%;
    float: left;
    padding-left: 55px;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .seven-pots .product .product-price {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    .seven-pots .product .product-price p {
      width: 100%;
      max-width: 233px;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      color: #bdbdbd; }
    .seven-pots .product .product-price .product-name {
      margin-top: 45px;
      font-size: 26px;
      margin-bottom: 20px; }
    .seven-pots .product .product-price .price {
      font-size: 33px;
      margin-bottom: 40px; }
      .seven-pots .product .product-price .price p:after {
        content: "$";
        position: absolute;
        margin-left: 5px; }
  .seven-pots .product .product-photo {
    width: 33%;
    float: left;
    position: relative;
    height: 375px; }
    .seven-pots .product .product-photo .img-box {
      width: 100%;
      position: absolute;
      bottom: 0; }
      .seven-pots .product .product-photo .img-box img {
        display: block;
        margin: 0 auto;
        margin-bottom: -5px;
        width: 100%;
        max-width: 335px; }
    @media only screen and (max-width: 480px) {
      .seven-pots .product .product-photo {
        width: 100%;
        margin: 0 auto;
        float: none; } }
  .seven-pots .product .reviews {
    width: 33%;
    float: left;
    text-align: center;
    padding-top: 70px; }
    @media only screen and (max-width: 480px) {
      .seven-pots .product .reviews {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    .seven-pots .product .reviews .comment {
      text-align: left; }

.rooms {
  background: url("../images/rooms-bg.png") center/cover;
  padding: 80px 0; }
  .rooms .circle {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-left: 30%;
    text-align: center;
    padding-top: 53px;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .rooms .circle {
        margin: 0 auto; } }
    .rooms .circle p {
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      font-size: 16px;
      color: #939393;
      text-transform: uppercase; }

.shakers .menu {
  position: relative;
  background-color: #bfe79e;
  float: right;
  height: 375px;
  padding-top: 120px;
  padding-bottom: 100px;
  box-sizing: border-box;
  text-align: center;
  color: #7c9965; }
  .shakers .menu:after {
    content: '';
    position: absolute;
    background: linear-gradient(-45deg, #bfe79e 10px, transparent 0) 0 10px, linear-gradient(-135deg, #bfe79e 10px, transparent 0) 0 10px;
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 20px 20px;
    width: 20px;
    height: 100%;
    top: 0;
    left: -20px; }
  @media only screen and (max-width: 480px) {
    .shakers .menu:after {
      content: '';
      position: absolute;
      background: linear-gradient(135deg, #bfe79e 10px, transparent 0) 0 10px, linear-gradient(225deg, #bfe79e 10px, transparent 0) 0 10px;
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 20px 20px;
      width: 100%;
      height: 395px;
      left: 0; } }
.shakers .product {
  float: left;
  background-color: #f5f5f5;
  height: 375px; }
  @media only screen and (max-width: 480px) {
    .shakers .product {
      height: auto; } }
  .shakers .product .product-price {
    width: 33%;
    float: left;
    padding-left: 55px;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .shakers .product .product-price {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    .shakers .product .product-price p {
      width: 100%;
      max-width: 233px;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      color: #bdbdbd; }
    .shakers .product .product-price .product-name {
      margin-top: 45px;
      font-size: 26px;
      margin-bottom: 20px; }
  .shakers .product .product-photo {
    width: 33%;
    float: left;
    text-align: center;
    height: 375px;
    position: relative; }
    .shakers .product .product-photo .img-box {
      position: absolute;
      bottom: 0;
      width: 100%; }
      .shakers .product .product-photo .img-box img {
        width: 100%;
        max-width: 285px;
        display: block;
        margin: 0 auto; }
    @media only screen and (max-width: 480px) {
      .shakers .product .product-photo {
        width: 100%;
        margin: 0 auto;
        float: none; } }
  .shakers .product .reviews {
    width: 33%;
    float: left;
    text-align: center;
    padding-top: 70px; }
    @media only screen and (max-width: 480px) {
      .shakers .product .reviews {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    .shakers .product .reviews .comment {
      text-align: left; }

.authentics .menu {
  float: left;
  position: relative;
  background-color: #f8c255;
  height: 375px;
  padding-top: 120px;
  padding-bottom: 100px;
  box-sizing: border-box;
  text-align: center;
  color: #785e28; }
  .authentics .menu:after {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #f8c255 10px, transparent 0) 0 10px, linear-gradient(135deg, #f8c255 10px, transparent 0) 0 10px;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 20px 20px;
    width: 20px;
    height: 100%;
    top: 0;
    right: -20px; }
  @media only screen and (max-width: 480px) {
    .authentics .menu:after {
      content: '';
      position: absolute;
      background: linear-gradient(135deg, #f8c255 10px, transparent 0) 0 10px, linear-gradient(225deg, #f8c255 10px, transparent 0) 0 10px;
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 20px 20px;
      width: 100%;
      height: 395px;
      left: 0; } }
.authentics .product {
  float: right;
  height: 375px;
  overflow: hidden;
  background-color: #fff; }
  @media only screen and (max-width: 480px) {
    .authentics .product {
      height: auto; } }
  .authentics .product .product-price {
    width: 26%;
    float: left;
    padding-left: 55px;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .authentics .product .product-price {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    .authentics .product .product-price p {
      width: 100%;
      max-width: 233px;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      color: #bdbdbd; }
    .authentics .product .product-price .product-name {
      margin-top: 45px;
      font-size: 26px;
      margin-bottom: 20px; }
  .authentics .product .product-photo {
    position: relative;
    width: 40%;
    float: left;
    text-align: center;
    height: 375px; }
    .authentics .product .product-photo .img-box {
      position: absolute;
      bottom: 0; }
    .authentics .product .product-photo img {
      margin-bottom: -5px;
      width: 100%;
      max-width: 435px; }
    @media only screen and (max-width: 480px) {
      .authentics .product .product-photo {
        width: 100%;
        margin: 0 auto;
        float: none; } }
  .authentics .product .reviews {
    width: 33%;
    float: left;
    text-align: center;
    padding-top: 70px; }
    @media only screen and (max-width: 480px) {
      .authentics .product .reviews {
        width: 100%;
        margin: 0 auto;
        float: none; } }
    .authentics .product .reviews .comment {
      text-align: left; }

footer {
  background: url("../images/footer-bg.png") center/cover;
  padding-top: 80px;
  padding-bottom: 80px; }
  footer p {
    font-family: "Roboto", sans-serif;
    font-weight: lighter; }
  footer .left-icon {
    margin-top: 40px;
    float: left;
    margin-left: 50px;
    max-width: 640px; }
    @media only screen and (max-width: 780px) {
      footer .left-icon {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px; } }
    footer .left-icon img {
      margin-right: 45px;
      margin-bottom: 45px; }
      @media only screen and (max-width: 780px) {
        footer .left-icon img {
          margin-right: 15px;
          margin-left: 15px; } }
    footer .left-icon p {
      font-size: 16px;
      color: #7c7a7a; }
  footer .right-icon {
    float: right;
    margin-right: 120px; }
    @media only screen and (max-width: 780px) {
      footer .right-icon {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center; } }
    footer .right-icon img {
      margin-bottom: 17px; }
    footer .right-icon p {
      font-size: 30px;
      color: #a7a2a2;
      margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
